<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:zksp="http://www.zkoss.org/2008/zkspring/core"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
									http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
									http://www.zkoss.org/2008/zkspring/core http://www.zkoss.org/2008/zkspring/core/zkspring-core.xsd
									http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
	
	<!-- spring magic -->
	<context:component-scan base-package="org.zkoss.spring.beans.zkcomponents,ch.epfl"/>
	
	<!-- declare desktop scope for zk -->
	<zksp:zk-config/>
	<!-- here goes the 1.4.0M1 -->
	<rabbit:annotation-driven />
	
	<!-- AMQP -->
	<!-- where to connect -->
	<rabbit:connection-factory id="connectionFactory" host="128.178.209.169"/>
	<!-- can create queues -->
	<rabbit:admin id="myContainerAdmin"  connection-factory="connectionFactory"/>
	
	<!-- master queue -->
 	<rabbit:queue id="masterQueue" name="masterQueueWebserver" exclusive="false" auto-delete="true" /> 

	<!-- exchgange with topic pattern sent to queue -->
	<rabbit:topic-exchange  name="lxc" auto-delete="true" durable="true" >
		<rabbit:bindings>
			<rabbit:binding queue="masterQueue" pattern="lxc.master" />
		</rabbit:bindings>
	</rabbit:topic-exchange>
	
	
		<bean id="myListenerContainerFactory" class="org.springframework.amqp.rabbit.config.SimpleRabbitListenerContainerFactory">
			<property name="connectionFactory" ref="connectionFactory" />
			<property name="autoStartup" value="true" />
		</bean>
	

	<!-- amqp producer config -->
	<rabbit:template id="sender" connection-factory="connectionFactory"  exchange="lxc"/>
	<!-- END AMQP -->

</beans>

